body{
    background-color: rgb(34, 33, 33);
    font-family: monospace;
    color: rgb(189, 189, 189);
}
h1{
    font-size: 5vw;
    padding: 0;
    margin: 0;
}
.calculater{
    text-align: center;
}
table{
    margin: auto;
    font-size: 5vh;
    padding: 1vw;
}
button{
    font-size: 10vh;
    width: 10vw;
    color: aliceblue;
    background-color: rgb(49, 49, 49);
}
input{
    font-size: 2.4vw;
    padding: 1vw;
}